﻿
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="records">Records</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @*class="active"*@><a ui-sref="form">Form</a></li>
                <li><a ui-sref="list">List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="float: right">Arrival: {{ arrival | date:'dd-MM-yyyy HH:mm:ss' }}</li>
                <br />
                <li style="float: right">Departure: {{ departure | date:'dd-MM-yyyy HH:mm:ss' }}</li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<div ui-view id="Details" style="padding-top: 65px;"></div>

<div id="fooCorner"><b>Current date/time: {{ today | date:'dd.MM.yyyy' }}    {{ clock.now | date:'HH:mm:ss' }}</b></div>

