﻿<form>
    <button class="btn btn-primary" type="button" ng-click="start()" ng-disabled="isDisabled1">Start</button>
    <button class="btn btn-danger" type="button" ng-click="stop()" ng-disabled="isDisabled2">Stop</button>
</form>


<div class="form-group" style="margin-top: 20px;">
    <label for="dateFrom">Date/Time From:</label>
    <input type="text" class="form-control" id="dDateFrom" ng-model="dateFrom" readonly="readonly" style="width:200px"/>
</div>

<div class="form-group" style="margin-top: 5px;">
    <label for="dateTo">Date/Time To:</label>
    <input type="text" class="form-control" id="dDateTo" ng-model="dateTo" readonly="readonly" style="width:200px"/>
</div>


<div class="form-group" style="margin-top: 5px;">
    <label for="comment">Comment:</label>
    <textarea class="form-control" rows="5" style="width:800px" id="cComment" ng-model="comment"></textarea>
</div>

<form>
    <button class="btn btn-success" type="button" ng-click="saveForm()">Save</button>
</form>

