﻿<br />
<div class="ListView">
    <!--dropdown-->
    <form class="navbar-form navbar-left">

        <select monthdropdown class="form-control" ng-options="month.text for month in months" ng-model="selectedMonth" ng-change="filterMonthYear()">
            <option value="">---Month---</option>
        </select>

        <select yeardropdown class="form-control" ng-options="year for year in years" ng-model="selectedYear" ng-change="filterMonthYear()">
            <option value="">---Year---</option>
        </select>

        <button class="btn btn-info" type="button" ng-click="RecordModal()">Add new record</button>

    </form>

    <form class="navbar-form navbar-right" style="margin-right: 10px">
        <label for="search">Items per page:</label>
        <select class="form-control" ng-options="option.value for option in DropdownPerItem.myOptions track by option.value" ng-model="DropdownPerItem.selectedOption" ng-change="itPerPg()">
        </select>


    </form>

    <br />
    <!--table-->
    <table class="table table-bordered table-hover">
        <tr style="background-color: black; color: white;">
            <td>#</td>
            <th>Date From</th>
            <th>Date To</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="record in RecordList | orderBy:'-DateFrom'">
            <td>{{ ($index + 1) + (currentPage - 1) * itemsPerPage }}.</td>
            <td>{{ record.DateFrom | datetime }}</td>
            <td>{{ record.DateTo | datetime }}</td>
            <td>{{ record.Comment }}</td>
            <td><a ng-click="RecordModal(record)">edit</a> | <a ng-click="deleteRecord(record.RecordID)">delete</a>
            </td>
        </tr>
    </table>

    <!-- paginator -->
    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    <p>
        total Items: {{totalItems}}<br />
        Items per page: {{itemsPerPage}}<br />
        Current Page: {{currentPage}}
     
    </p>


</div>




