﻿<form id="form1" name="form1" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Record</h3>
    </div>

    <div class="modal-body">
        <div class="form-inline">
            <label>Date from:</label>
            <div id="fromD" class="input-group input-group-sm date" datetimepicker-options="{{options}}" datetimepicker ng-model="input.DateFrom" style="width: 200px" name="fromD" ng-required="true">
                <input name="fromD" type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="error-message" ng-show="(form1.$submitted || form1.fromD.$touched)  && form1.fromD.$error.required">This field is required.</span>

        </div>

        <div class="form-inline">
            <label>Date to:</label>
            <div class="input-group input-group-sm date" datetimepicker-options="{{options}}" datetimepicker ng-model="input.DateTo" style="width: 200px">
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <label for="comment">Comment:</label>
        <textarea id="comment" class="form-control" rows="5" ng-model="input.Comment"></textarea>

    </div>

    <div class="modal-footer">
        <button class="btn2 btn2-default" ng-click="Cancel()">Cancel</button>
        <button class="btn2 btn2-primary" ng-click="form1.$valid && SaveRecord()">Save record</button>
    </div>
</form>


