﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    <script  data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">


    <!-- alertify.css  modified version-->
    <link href="~/Content/alertify/alertify.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/alertify/default.css" rel="stylesheet" type="text/css" />

    <style>
        #fooCorner {
            position: fixed;
            bottom: 0;
            right: 0;
        }

    </style>
    

</head>
<body ng-app="RecordsApp" style="padding-left: 10px">

    @RenderBody()

@*   @Scripts.Render("~/bundles/jquery")*@
@*    @Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/angular")

    <!-- modal part -->
    <link rel="stylesheet" type="text/css" href="Content/css/modal.css">

    <script src="~/Scripts/alertify/alertify.js" type="text/javascript"></script>
    <script src="~/Scripts/moment-2.11.0.min.js" type="text/javascript"></script>

    <script src="~/Scripts/AngularCtrl/app.js"></script>
    <script src="~/Scripts/AngularCtrl/FormController.js"></script>
    <script src="~/Scripts/AngularCtrl/ListController.js"></script>
    <script src="~/Scripts/AngularCtrl/ModalController.js"></script>
    <script src="~/Scripts/AngularCtrl/filters.js"></script>
    <script src="~/Scripts/AngularCtrl/directives.js"></script>

    @RenderSection("scripts", required: false)



</body>
</html>